<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div th:fragment="menu">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Spring Simple Shop</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/products}">Products</a>
                    </li>
                    <li>
                        <a th:href="@{/product/new}">Add product</a>
                    </li>
                    <li>
                        <a th:href="@{/categories}">Categories</a>
                    </li>
                    <li>
                        <a th:href="@{/categories/new}">Add Category</a>
                    </li>
                    <li>
                        <a th:href="@{/special-categories/new}">Add Special Category</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>