<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->

<div class="container">

    <div class="alert alert-danger" th:if="${message}">
        <span th:text="${message}"></span>
    </div>

    <div>
        <h2>Categories</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="category : ${categories}">
                <td th:text="${category.name}"></td>
                <td><a th:href="${'/category/edit/' + category.id}">Edit</a></td>
                <td><a th:href="${'/category/delete/' + category.id}">Delete</a></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>